{% extends 'users/base1.html' %}

{% block content %}
        <div>
        {% if searched %}
                <h1> 검색하신 {{ searched }} 물건입니다. </h1>
                <br>
                {% for product in product_list %}
                        {{ product.name }} <br>
                        {{ product.price }} <br>
                        {{ product.description }} <br>
                {% endfor %}
        {% else %}
                <h1> 찾고 있는 물건을 검색창에 입력해주세요. </h1>
        {% endif %}
        </div>
{% endblock %}