{% extends 'users/base1.html' %}
{% block contents %}

    <div>
        {% if searched %}
            <h1> 검색하신 {{ searched }} 물건입니다. </h1>
            <br>
            {% for product in product_list %}
                <div class="col mb-5">

                    <div class="card h-100">
                        <!-- Product image-->
                        {% if product.description %}
                            <img class="img-fluid rounded" src="{{ product.description }}" alt="">
                        {% else %} <!-- Preview Image -->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                        {% endif %}

                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                <!-- Product price-->
                                {{ product.price | intcomma }}원
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                        href="{{ product.get_absolute_url }}">자세히 보기</a></div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1> 찾고 있는 물건을 검색창에 입력해주세요. </h1>
        {% endif %}
    </div>
{% endblock %}


