{% load socialaccount %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">구름상점</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/blog/">문의하기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/order/">주문정보</a>
                </li>
                {% if user.is_authenticated %}
                    {% if user.is_superuser or user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="/product/new/">상품등록</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav ">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="nav-link" href="#" data-toggle="modal" data-target="#profileModal">내정보</a>
                            </li>
                            <li><a class="dropdown-item" href="/accounts/logout/">로그아웃</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">로그인</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!--검색창-->
        <form class="d-flex" method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search" name="searched" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"> Search</button>
        </form>

        <!--장바구니-->
        <form class="d-flex">
            <button class="btn btn-outline-dark" type="submit">
                <i class="bi-cart-fill me-1"></i>
                Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
            </button>
        </form>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel"><i class="fas fa-sign-in-alt"></i>&nbsp 로그인</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <a role="button" type="button" class="btn btn-outline-dark btn-block btn-sm "
                               href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i>&nbsp&nbsp 구글
                                로그인 </a>
                            <a role="button" type="button" class="btn btn-outline-dark btn-block btn-sm "
                               href="/accounts/login/"><i class="far fa-envelope"></i>&nbsp&nbsp 이메일 로그인</a>
                        </div>
                        <div class="col-md-6">
                            <a role="button" type="button" class="btn btn-outline-dark btn-block btn-sm "
                               href="{% provider_login_url 'naver' %}"><i class="fa fa-naver"></i>&nbsp&nbsp 네이버 로그인</a>
                            <button type="button" class="btn btn-outline-dark btn-block btn-sm"><i
                                    class="far fa-envelope"></i>&nbsp&nbsp 이메일로 가입
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--내프로필-->
    <!-- Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel"><i class="fas fa-sign-in-alt"></i>&nbsp 프로필</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="content-section">
                        <div class="media">

                            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"
                                 style="width:80px; height:80px;" >
                            <div class="media-body">
                                <h2 class="account-heading">{{ user.username }}</h2>
                                <p class="text-secondary">{{ user.email }}</p>
                            </div>

                        </div>
                        <!-- FORM HERE -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

</nav>